{% extends "layouts/doctor_base.html" %}

{% block title %}
Ảnh tổn thương
{% endblock %}

{% block content %}

<div class="container mt-4">

<h3>Danh sách ảnh</h3>

<a
href="{{ url_for('lesion.upload_image',
                 exam_id=exam_id) }}"
class="btn btn-primary mb-3">

Upload ảnh

</a>

<div class="row">

{% for image in images %}

<div class="card">

        <div class="col-md-4 mb-3">

        <div class="card h-100 shadow">



        </div>

    </div>

        <a href="{{ url_for('lesion.detail',
                        image_id=image.image_id) }}">

        <img
        src="{{ url_for('static',
        filename=image.image_path) }}"
        class="card-img-top">

    </a>

    <div class="card-body">

        <p>

            ID: {{ image.image_id }}

        </p>

        <p>

            Blur:
            {% if image.blur_score is not none %}
                {{ "%.2f"|format(image.blur_score) }}
            {% else %}
                N/A
            {% endif %}

        </p>

        {% if image.is_valid %}

            <span class="badge bg-success">

                Hợp lệ

            </span>

        {% else %}

            <span class="badge bg-danger">

                Mờ

            </span>

        {% endif %}

        <hr>

       <a
        href="{{ url_for(
        'lesion.detail',
        image_id=image.image_id
        ) }}"
        class="btn btn-primary w-100">

            Xem chi tiết

        </a>

    </div>

</div>

{% endfor %}

</div>

</div>

{% endblock %}