{% extends "layouts/doctor_base.html" %}

{% block content %}

<div class="container mt-4">

    <h3>Sửa bệnh nhân</h3>

    <form method="POST">

        {{ form.hidden_tag() }}

        <div class="card shadow-sm mb-4">

            <div class="card-header">
                <strong>Thông tin bệnh nhân</strong>
            </div>

            <div class="card-body">

                <div class="mb-3">
                    {{ form.fullname.label(class="form-label") }}
                    {{ form.fullname(class="form-control") }}
                </div>

                <div class="mb-3">
                    {{ form.gender.label(class="form-label") }}
                    {{ form.gender(class="form-select") }}
                </div>

                <div class="mb-3">
                    {{ form.birth_year.label(class="form-label") }}
                    {{ form.birth_year(class="form-control") }}
                </div>

                <div class="mb-3">
                    {{ form.phone.label(class="form-label") }}
                    {{ form.phone(class="form-control") }}
                </div>

            </div>

        </div>


        <div class="card shadow-sm mb-4">

            <div class="card-header">
                <strong>Thông tin bệnh sử</strong>
            </div>

            <div class="card-body">

                <div class="mb-3">

                    {{ form.drug_allergies.label(
                        class="form-label"
                    ) }}

                    {{ form.drug_allergies(
                        class="form-control"
                    ) }}

                </div>


                <div class="mb-3">

                    {{ form.chronic_diseases.label(
                        class="form-label"
                    ) }}

                    {{ form.chronic_diseases(
                        class="form-control"
                    ) }}

                </div>


                <div class="mb-3">

                    {{ form.hereditary_diseases.label(
                        class="form-label"
                    ) }}

                    {{ form.hereditary_diseases(
                        class="form-control"
                    ) }}

                </div>

            </div>

        </div>


        {{ form.submit(
            class="btn btn-warning"
        ) }}

        <a
            href="{{ url_for('patient.list_patients') }}"
            class="btn btn-secondary">

            Hủy

        </a>

    </form>

</div>

{% endblock %}