{% extends "layouts/doctor_base.html" %}

{% block content %}

<div class="container mt-4">

    <h3>Tạo lần khám</h3>

    <form method="POST">

        {{ form.hidden_tag() }}

        <div class="mb-3">

            {{ form.chief_complaint.label }}

            {{ form.chief_complaint(class="form-control") }}

        </div>

        <div class="mb-3">

            {{ form.note.label }}

            {{ form.note(class="form-control") }}

        </div>

        <button class="btn btn-primary">

            Lưu lần khám

        </button>

    </form>

</div>

{% endblock %}