{% extends "layouts/doctor_base.html" %}

{% block title %}
Chi tiết lần khám
{% endblock %}

{% block content %}

<div class="container mt-4">

    <h3>

        Lần khám #{{ examination.exam_id }}

    </h3>

    <hr>

    <div class="card">

        <div class="card-body">

            <p>

                <strong>Bệnh nhân:</strong>

                {{ examination.patient.fullname }}

            </p>

            <p>

                <strong>Bác sĩ:</strong>

                {{ examination.doctor.fullname }}

            </p>

            <p>

                <strong>Ngày khám:</strong>

                {{ examination.exam_date.strftime("%d/%m/%Y %H:%M") }}

            </p>

            <p>

                <strong>Lý do khám</strong>

            </p>

            <div class="alert alert-light">

                {{ examination.chief_complaint }}

            </div>

            <p>

                <strong>Ghi chú</strong>

            </p>

            <div class="alert alert-light">

                {{ examination.note }}

            </div>

        </div>

    </div>

    <hr>

    <div class="mt-3">

        <a href="{{ url_for('lesion.list_images',
                            exam_id=examination.exam_id) }}"
           class="btn btn-primary">

            Ảnh tổn thương

        </a>

        <a href="{{ url_for('examination.edit',
                            exam_id=examination.exam_id) }}"
           class="btn btn-warning">

            Sửa

        </a>

        <form action="{{ url_for('examination.delete',
                                 exam_id=examination.exam_id) }}"
              method="POST"
              style="display:inline;">

            <button
                class="btn btn-danger"
                onclick="return confirm('Xóa lần khám?')">

                Xóa

            </button>

        </form>


       

    </div>

</div>


{% endblock %}