{% extends "layouts/base.html" %}

{% block title %}

Tổng quan

{% endblock %}

{% block content %}

<h2 class="mb-4">

Xin chào Bác sĩ 👋

</h2>

<div class="row g-4">

<div class="col-lg-3">

<div class="stat-card">

<h5>Bệnh nhân</h5>

<h2>125</h2>

</div>

</div>

<div class="col-lg-3">

<div class="stat-card">

<h5>Lần khám</h5>

<h2>20</h2>

</div>

</div>

<div class="col-lg-3">

<div class="stat-card">

<h5>AI hôm nay</h5>

<h2>18</h2>

</div>

</div>

<div class="col-lg-3">

<div class="stat-card">

<h5>Báo cáo</h5>

<h2>15</h2>

</div>

</div>

</div>

<br>

<div class="row">

<div class="col-lg-8">

<div class="card-box">

<h4>

Biểu đồ thống kê

</h4>

<div style="height:320px;"></div>

</div>

</div>

<div class="col-lg-4">

<div class="card-box">

<h4>

Hoạt động gần đây

</h4>

<br>

<p>✔ Phân tích AI bệnh nhân A</p>

<p>✔ Tạo hồ sơ bệnh nhân mới</p>

<p>✔ Hoàn thành báo cáo</p>

</div>

</div>

</div>

{% endblock %}