<nav class="navbar-custom">

    <div class="navbar-left">
        <button class="sidebar-toggle" id="sidebarToggle" aria-label="Mở menu">
            <i class="bi bi-list"></i>
        </button>

        <div class="d-flex align-items-center">

            Xin chào,

            <strong>

                {{ current_user.username }}

            </strong>

        </div>
        
    </div>

    <div class="user-info">
        <i class="bi bi-person-circle"></i>
        <span>Bác sĩ</span>
    </div>

</nav>