*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,sans-serif;
}

body{
    background:#f7faf8;
}

nav{

    height:90px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 80px;

    background:white;

}

.logo{

    font-size:28px;

    font-weight:bold;

    color:#4F7C52;

}

nav ul{

    display:flex;

    gap:40px;

    list-style:none;

}

nav a{

    text-decoration:none;

    color:#333;

}

.hero{

    height:88vh;

    background:url("/static/images/banner.jpg");

    background-size:cover;

    background-position:center;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    color:white;

}

.hero h1{

    font-size:72px;

}

.hero p{

    margin:30px;

    font-size:22px;

}